body {
    background: url('https://images.unsplash.com/photo-1563268467-150df292f007??w=1600&h=900&fit=crop') var(--bg-main);
    background-size: cover;
    background-position: center center;
}

main {
    width: 100vw; height: 100vh;
    display: flex; flex-direction: column;
    background: var(--bg-image-mask);
    backdrop-filter: blur(var(--blur-backdrop-bg));
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0; padding: 0;
}



.text-clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



#groupinfo-wrapper {
    width: 100vw;
    display: flex; flex-direction: row;
    gap: var(--gap-big);
}
#groupinfo {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between; align-items: center;
    gap: var(--gap-big);
    height: 48px;
    padding-top: 8px;
    color: var(--text-white);
}
.groupinfo__title-wrapper {
    display: flex;
    gap: var(--gap-medium);
}



#tasklist {
    flex: 1 1 auto;
    display: flex; flex-direction: row;
    overflow: scroll hidden;
}
#tasklist__inner {
    display: flex;
    padding: 8px;
    gap: var(--gap-medium);
}



.test, .taskcat {
    display: flex; flex-direction: column;
    width: 300px;
    box-sizing: border-box;
}

.taskcat-wrapper {
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--bg-taskcat);
    box-shadow: var(--shadow-inner-glass);
}
.taskcat:hover .taskcat-wrapper {
    background-color: var(--bg-taskcat-hover);
}

.taskcat-header {
    display: flex;
    justify-content: space-between;
    padding: 14px var(--gap-medium) 0;
    color: var(--text-white);
}
.taskcat:hover .taskcat-header {
    box-shadow: var(--shadow-emphasis-low);
}
.taskcat-header__controls {
    display: flex; flex-direction: row;
    flex-wrap: normal;
    gap: var(--gap-small);
}

.taskcat-content {
    padding: var(--gap-medium) 0;
    overflow: hidden scroll;
}
.task-content__text {
    max-height: 5.5em;
    white-space: normal;
    overflow: hidden scroll;
}
.taskcat-content__placeholder {
    padding: var(--gap-medium);
    text-align: center;
    color: var(--text-white-pale);
}



.task {
    margin-bottom: 2px; padding: var(--gap-medium);
    background-color: var(--bg-task);
}
.task:hover {
    background-color: var(--bg-task-hover);
    box-shadow: var(--shadow-regular);
}

.task-header {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    margin-bottom: var(--gap-small);
}



.task-content {
    cursor: pointer;
    /*user-select: none;*/
}

.task-footer {
    display: flex; flex-direction: column;
    margin-top: var(--gap-medium);
}
.task-footer__meta {
    font-size: .75rem;
    color: var(--text-black-pale);
}



aside {
    top: 0;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
    padding: var(--gap-big);
    background: var(--bg-aside); color: var(--text-white);
    box-shadow: var(--shadow-regular);
    backdrop-filter: blur(var(--blur-backdrop-bg));
}



#boardman {
    left: 0;
    width: 240px;
    transition: transform .3s;
}
#boardman.closed {
    transform: translateX(-120%);
}

.boardman-spacer {
    width: 240px;
    flex: 0 0 auto;
    transition: width .3s;
}
.boardman-spacer.closed {
    width: 0;
}



#taskman {
    right: 0;
    width: 480px;
    transition: transform .3s;
}
#taskman.closed {
    transform: translateX(120%);
}

.taskman-spacer {
    width: 480px;
    flex: 0 0 auto;
    transition: width .3s;
}
.taskman-spacer.closed {
    width: 0;
}



@media (max-width: 800px) {
    .boardman-spacer, #boardman,
    .taskman-spacer, #taskman {
        width: calc(100% - 80px);
    }
}